include ocioLutPrescription/ocioLutPrescription_icon.png
include ocioLutPrescription/ocioLutPrescription_mainWindow.ui
include ocioLutPrescription/ocioLutPrescription_qrc.py
include ocioLutPrescription/resource.qrc
